/* -------------------------- */
/* ---      Global     ----- */
/* ------------------------ */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html, body {
  font-family: 'Montserrat', sans-serif;
}
html {
  /* 1rem = 10px */
  font-size: 10px;
  /* align center  */
  width: 100%;
  margin: 0 auto;
  /* color default */
  background-color: #fff;
  color: #000;
  font-family: "Montserrat", sans-serif;
  /* scroll smooth  */
  scroll-behavior: smooth;

}
/* set font size all page  16px */
body {
  font-size: 1.4rem;
  line-height: 1.4rem;
}
/* back to top */
.back-to-top {
  font-size: 5rem;
  position: fixed;
  bottom: 5%;
  right: 5%;
}
#backToTop {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  font-size: 18px;
  border: none;
  outline: none;
  background-color: transparent;
  color: white;
  cursor: pointer;
  padding: 15px;
  border-radius: 4px;
}

/* -------------------------- */
/* ---      base       ----- */
/* ------------------------ */

/* color  */
/* dark: #06080C */
/* light:#474747 */
/* blue: #00cdce */

/* header  */
.header__secondary {
    font-size: 5.6rem;
    font-weight: 500;
    text-transform: capitalize;
    color: #000;
    text-align: center;
    padding: 1rem;
    letter-spacing: 1px;
    margin-bottom: 2rem;
}
.header__tertiary {
    font-size: 3rem;
    color: #00cdce;
    text-align: center;
    margin: 2rem;
}
/* text  */
.content__text {
    font-size: 1.5rem;
    letter-spacing: 1px;
    text-align: center;
    line-height: 3rem;
}
/* layout  */
.flex-box {
    display: flex;
    justify-content:space-evenly;
}
.col-1-of-3 {
    width: 25%;
}
.col-1-of-4 {
  width: 20%;
}
/* btn  */
.btn {
  padding: 7px 18px;
  font-size: 1.7rem;
  letter-spacing: 1px;
  font-weight: 200;
  border-radius: 1px;
}
.btn__text--dark {
  color: #00cdce;
  background-color: #000;
  transition: all .3s;
}
.btn__text--dark:hover {
  color: #fff;
}
/* spacing  */
.padding-big {
  padding-top: 8rem;
}
.padding-medium {
  padding-top: 6rem;
}



/* -------------------------- */
/* ---  Header Section ----- */
/* ------------------------ */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.8);
  color: #fff;
  padding: 0 2rem ;
  padding-top: 0.5rem;
  position: fixed;
  width: 100%;
  height: auto;
  top: 0;
  left: 0;
  z-index: 9999;
}
/* logo  */
.logo__box a {
  color: #fff;
  text-decoration: none;
}
.logo__box h1 {
  font-size: 5.6rem;
  font-weight: 400;
  letter-spacing: 5px;
  text-transform: capitalize;
}
.logo__box span {
  color: #00cdce;
}
/* navigation  */
nav {
  width: 55%;
}
.nav__list {
  display: flex;
  width: 100%;
  justify-content: space-around;
  list-style: none;
}
.nav__link {
  text-decoration: none;
  color: #fff;
  font-size: 1.6rem;
  font-weight: 400;
  padding: 1rem 1.5rem;
  border-bottom: 2px solid #fff;
  transition: all .5s;
}
.active, .nav__link:hover {
  color: #00cdce;
  border: none;
  text-decoration: none;
}

/* -------------------------- */
/* ---  carousel Section --- */
/* ------------------------ */
.carousel__section {
  background-color: aqua;
}
.carousel__img {
  height: 700px;
}
/* carousel stick  */
/* button pre next  */
.slick-slider .slick-arrow {
  font-size: 6rem;
  position: absolute;
  top: 40%;
  cursor: pointer;
  transition: all 300ms ease-in-out;
  color: #fff;
  z-index: 1000;
}
.slick-slider .slick-arrow.left {
  left: 40px;
}

.slick-slider .slick-arrow.right {
  right: 40px;
}
/* dot */
.slick-dots {
  bottom: 10%;
}
.slick-dots li button:before {
  font-size: 1.2rem;
  color: #fff;
  transition: all .3s;
  opacity: 1;
}
.slick-dots li button:before:hover {
    color: #000;
}

/* text  */
.carousel__text {
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  text-align: center;
}
.carousel__text h3 {
  font-size: 6rem;
  text-transform: uppercase;
}
.carousel__text p {
  font-size: 2.4rem;
  padding: 2rem;
}
/* img */
.carousel__img {
  top: 0;
}
.carousel__img img {
    width: 100%; 
}
/* -------------------------- */
/* ---  about Section ----- */
/* ------------------------ */
.about__section {
    margin: 0 auto;
    margin-bottom: 4rem;
}
/* content  */
.about__content {
    margin: 4rem auto;
}
/* icon  */
.about__icon {
    display: block;
    width: 10rem;
    height: 10rem;
    font-size: 2.8rem;
    border: 1px solid gray;
    border-radius: 50%;
    text-align: center;
    line-height: 10rem;
    margin: 2rem auto;
    background-color: #fff;
    transition: all .2s;
}

.about__icon:hover {
    background-color: #00cdce;
}
/* text  */
.about__item p {
  color:#7F7676;
}
/* about us  */
.about__us {
    margin: 2rem auto;
    width: 85%;
}
/* -------------------------- */
/* ---  stats  Section ----- */
/* ------------------------ */
.stats__section {
  margin: 0 auto;
  padding: 6rem;
  text-align: center;
  background-color: #00cdce;
}
/* content  */
.stats__content {
  margin: 4rem auto;
}
/* number  */
.stats__item span {
  color: #fff;
  font-size: 5.6rem;
  padding: 1rem 2rem;
  margin-bottom: 2rem;
  letter-spacing: 5px;
}
/* text  */
.stats__item p {
  font-size: 3rem;
  padding: 1rem 2rem;
  margin-bottom: 2rem;
  letter-spacing: 2px;
  text-transform: capitalize;
}
/* -------------------------- */
/* --- Blog  Section ----- */
/* ------------------------ */
.blog__section {
  width: 85%;
  margin: 0rem auto;
}
/* content  */
.blog__content {
  margin: 4rem auto;
}
/* item  */
.blog__item {
  background-color: #EFEFEF;
}
/* set width  */
.col-1-of-3 {
  width: 30%;
}
.blog__item .blog__img, .blog__item img {
  width: 100%;
}
.blog__item .blog__img {
  border-top: 6px solid  #00cdce;
}

/* header content  */
.blog__item h3 {
  width: 90%;
  margin: 1rem auto;
  text-align: left;
}
.blog__item a {
  text-decoration: none;
  color: #00cdce;
  font-size: 2.3rem;
  font-weight: 500;
  transition: All .2s;
}
.blog__item a:hover {
  color: #000;
}
/* text content  */
.blog__item p {
  width: 90%;
  margin: 0 auto;
  line-height: 2.5rem;
}
/* button  */
.blog__item  button {
  margin: 5% ;
}
/* Modal  popup  */
.blog__popup {
  z-index: 9999;
}
/* width modal  */
#blog__modal--1 .modal-dialog,
#blog__modal--2 .modal-dialog,
#blog__modal--3 .modal-dialog {
  max-width: 650px;
}
/* Modal header */
.header__popup {
  background-color: #00cdce;
}
.header__popup h3 {
  font-size: 4rem;
  font-weight: 500;
  color: #fff;
  text-align: center;
}
/* button close  */
.header__popup .close {
  color: red;
  font-size: 4rem;
  padding: 2rem;
  opacity: 0.8;
  margin-right: 0;
}
.header__popup button:focus {
  outline: none;
}
/* modal body  */
.body__popup img {
  padding: 1.5rem;
}
.body__popup p {
  margin-bottom: 2.5rem;
  line-height: 3rem;
  padding: 1.5rem;
  color: #7F7676;
}
/* -------------------------- */
/* ---  Get More  Section ----- */
/* ------------------------ */
.get-more__section {
  background-color: #00cdce;
}
/* video  */
/* video left  */
.get-more__video {
    width: 50%;
    position: relative;
}
.get-more__video img {
  width: 100%;
}
/* button play  */
.get-more__video .icon__play-border {
  position: absolute;
  top:30%;
  left: 50%;
  transform: translate(-50%,50%);
  width: 8rem;
  height: 8rem;
  background-color: #00cece59;
  border: none;
  border-radius: 50%;
}
.get-more__video .icon__play {
  width: 4rem;
  height: 4rem;
  margin: 2rem auto;
  border: none;
  border-radius: 50%;
  background-color: #fff;
  text-align: center;
  line-height: 4rem;
}
.get-more__video .icon__play i {
  font-size: 1.8rem;
  padding-left: 2px;
  color: #00cdce;
}
/* video  */
#get-more__modal--1 .modal-content {
  margin-top: 10rem;
}
/* modal header  */
#get-more__modal--1 .header__popup {
  background-color: #fff;
  margin: 3rem 2rem ;
}
#get-more__modal--1 .get-more__popup {
  position: relative;
}
/* button close  */
#get-more__modal--1 .header__popup .close {
  color:#fff;
  font-size: 4rem;
  padding: 1rem;
  padding-bottom: 0;
  opacity: 0.8;
  margin-right: 0;
  position: absolute;
  top: -8%;
  left: -8%;
}

/* content  right */
.get-more__content {
  width: 60%;
  padding: 2rem 0; 
  margin: 0 auto;
}
/* content header  */
.get-more__content h3 {
  text-align: center;
  font-size: 4.50rem;
  font-weight: 400;
  margin: 2rem 0;
}
/* text  */
.get-more__content p {
  width: 80%;
  margin: 1rem auto;
  color:#fff;
  text-align: center;
  line-height: 3rem ;
  padding: 1.5rem;
}
/* button  */
.get-more__content button {
  display: block;
  margin: 2rem auto;
}
/* pop up  */
#get-more__modal--2 .modal-dialog{
  max-width: 650px;
}
/*Modal  header */
#get-more__modal--2 .header__popup {
  background-color: #00cdce;
}
#get-more__modal--2 .header__popup h3 {
  width: 100%;
  font-size: 4rem;
  font-weight: 500;
  color: #fff;
  text-align: center;
}
/* button close  */
#get-more__modal--2 .header__popup .close {
  color: red;
  font-size: 4rem;
  padding: 2rem;
  opacity: 0.8;
  margin-right: 0;
}
#get-more__modal--2 .header__popup button:focus {
  outline: none;
}
/*<odal  body  */

#get-more__modal--2 .body__popup img {
  padding: 1.5rem;
  width: 100%;
}
#get-more__modal--2 .body__popup p {
  margin-bottom: 2.5rem;
  line-height: 3rem;
  padding: 1.5rem;
  color: #7F7676;
}
/* -------------------------- */
/* --  Portfolio section---- */
/* ------------------------ */
.portfolio__section {
  margin: 0 auto;
  margin-bottom: 4rem;
}
.portfolio__section h2 {
  padding: 2rem;
}
/* item row  */
.portfolio__item {
  width: 90%;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
  padding: 1rem;
}
/* item box  */
.portfolio__box {
  width: 35%;
  padding: 0;
  margin: 0 1.5rem;
  text-align: center;
  position: relative;
  background-color: rebeccapurple;
}
/* image  */
.portfolio__box img {
  width: 100%;
}
/* content  */
.portfolio__content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  background-color: rgba(0, 0, 0, 0.8);
  padding: 2rem ;
  width: 90%;
  margin: 1% auto;
  text-align: center;
  opacity: 0;
  transition: all .5s;
}
.portfolio__box:hover .portfolio__content {
  opacity: 1;
}
/* header  */
.portfolio__header {
  width: 85%;
  padding: 1rem 1rem;
  margin: 1rem auto;
  border-top: 1px solid #00cdce;
  border-bottom: 1px solid #00cdce;
  text-transform: uppercase;
}
.portfolio__header h3 {
  font-size: 3rem;
  color: #00cdce;
  font-weight: 300;
}
.portfolio__content p {
  color: #fff;
  padding: 1rem 0rem;

}
/* -------------------------- */
/* -  subscribel  Section -- */
/* ------------------------ */
.subscribe__section {
  background-color: #00cdce;
}
/* content  */
.subscribe__content {
  width: 60%;
  margin: 0 auto;
  text-align: center;
  padding: 4rem;
}
/* text  */
.subscribe__content p {
  color: #fff;
  margin-bottom: 2rem;
  font-size: 1.5rem;
  letter-spacing: 1px;
  line-height: 2rem;
}
/* input  */
.subscribe__form input {
  width: 70%;
  margin: 0 auto;
  padding: 10px 15px;
  font-size: 2rem;
  outline: none;
  border: none;
}
/* button  */
.subscribe__form button {
  padding: 15px 50px;
  letter-spacing: 3px;
  background-color: #000;
  color: #fff;
  font-size: 2rem;
  margin: 2rem;
}
/* -------------------------- */
/* -- agents__section-------- */
/* ------------------------ */
.agents__section{
  margin: 0 auto;
}
/* content  */
.agents__content {
  width: 90%;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
  color: #fff;
}
/* item  */
.agents__item {
  width: 23%;
  text-align: center;
  background-color: #363636;
}
/* image */
.agents__item  img {
  width: 100%;
}
/* header  */
.agents__item h3 {
  font-size: 2.5rem;
  color: #00cdce;
  text-transform: uppercase;
  padding: 1rem;
  padding-bottom: 0;
  transition: all .5s;
  cursor: default;
}
/* hover item */
.agents__item:hover h3 {
  color: #fff;
}
/* text  */
.agents__item p {
  text-transform: capitalize;
}
/* icon  */
.agents__icon {
  display: flex;
  justify-content: center;
}
.agents__icon .icon__box {
  width: 30px;
  height: 30px;
  padding: 5px;
  border: 1px solid #fff;
  margin: 0 1rem;
  margin-bottom: 2rem;
  transition: all .2S;
}
.agents__icon .icon__link {
  color: #fff;
  text-decoration: none;
}
.icon__fb:hover .icon__box {
  background-color: #2D88FF;
}
.icon__tw:hover .icon__box{
  background-color: #1DA1F2;
}
.icon__rss:hover .icon__box {
  background-color: #FF6600;
}

/* -------------------------- */
/* -- contact__section-------- */
/* ------------------------ */
.contact__section {
  margin: 0rem auto;
  margin-bottom: 6rem;
}
/* map  */
.contact__map {
  width: 100%;
  border: 3px solid #00cdce;
  padding: 1.5rem;
  background-color: #a79d9d;
}
.contact__map iframe {
  width: 100%;
}
.contact__infor {
  margin: 2rem auto;
}
/* form  */
.contact__form {
  width: 86%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}
.contact__item {
  width: 49%;
}
/* input  */
.contact__item  input,
.contact__item  textarea,
.contact__item  button {
  width: 100%;
  padding: 15px 10px;
  background-color:#EFEFEF;
  border: none;
  border-bottom: 2px solid #998e8e;
  margin-bottom: 2.5rem;
}
/* focus  */
.contact__item  input:focus,
.contact__item  textarea:focus,
.contact__item  button:focus {
  outline: none;
  border-bottom: 2px solid #000;
}
/* button submit  */
.contact__item  button {
  background: #000;
  color: #fff;
  transition: all .3s;
}
.contact__item  button:hover {
  background: #00cdce;
  color: #000;
}
/* -------------------------- */
/* -- footer section-------- */
/* ------------------------ */
.footer {
  background-color: #00cdce;
  display: flex;
  justify-content: space-around;
  padding: 4rem ;
  color: #fff;
  margin-bottom: 4rem;
}
/* copy right  */
.copy-right {
  text-transform: capitalize;
  font-size: 1.5rem;
  letter-spacing: 1px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
.copy-right a {
  text-decoration: none;
  color: red;
  transition: all .3s;
}
.copy-right a:hover {
  color: #fff;
}
/* social  */
.footer__social {
  display: flex;
  justify-content: center;
}
.footer__social .icon__box {
  width: 30px;
  height: 30px;
  padding: 5px;
  border: 1px solid #fff;
  margin: 0 1rem;
  transition: all .2S;
  text-align: center;
}
.footer__social .icon__link {
  color: #fff;
  text-decoration: none;
}
.footer__social .icon__fb:hover .icon__box {
  color: #2D88FF;
  background-color: transparent;
}
.footer__social .icon__tw:hover .icon__box{
  color: #1DA1F2;
  background-color: transparent;

}
.footer__social .icon__rss:hover .icon__box {
  color: #FF6600;
  background-color: transparent;

}
.footer__social .icon__vk:hover .icon__box{
  color: #1DA1F2;
  background-color: transparent;

}

